
   pre {
     max-width: 350px;
     overflow-wrap: break-word;
     white-space:pre-wrap;
   }
   .fork-me-badge {
     position: absolute;
     right: 0;
     top: 0;
   }
   
   .main-header {
     background: #3f51b5;
     color: #eee;
     height: 133px;
     margin-bottom: 50px;
   }
   

   th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
}

th.rotate{
  transform: 
    /* Magic Numbers */
    translate(40px, 51px)
    /* 45 is really 360 - 45 */
    rotate(280deg);
}
th.rotate{
  border-bottom: 1px solid black;
}